html{
  background-color: #fae0e5;
  text-align: center;
  color: #3d3f6b;
}
a{
  color: blue;
  text-decoration: none;
}
a:visited{
  color: darkblue;
}
body{
  margin: 0 20% 20% 20%;
}
h1{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 6em;
}
h1, h2{
  color: blue;
}
img{
  padding-top: 40px;
}
input{
  height: 20px;
  width: 20px;
}
span{
  color: #6d6868;
}
table{
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}
td, th{
  height: 50px;
  width: 50px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
tr{

}
#game{
  width: 500px;
  background-color: white;
}
#grid{
  border: 1px solid;
}
.bottom-bold{
  border-bottom: 3px solid black;
}
.code-block{
  text-align: left;
}
.link-button{
  background-color: blue;
  color: white;
  padding: 10px;
  text-decoration: none;
}
.link-button:visited{
  color: white;
}
.link-button:hover{
  background-color: darkblue;
}
.right-bold{
  border-right: 3px solid black;
}
