html{
  background-color: #9edfe5;
  text-align: center;
  color: #3d3f6b;
  font-family: 'Quicksand', sans-serif;
}
a{
  color: blue;
  text-decoration: none;
}
a:visited{
  color: darkblue;
}
body{
  margin: 0 20% 20% 20%;
}
h1{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 6em;
}
h2{
  font-size: 3em;
}
h1, h2{
  color: #7e6cfb;
}
img{
  padding-top: 40px;
  width: 361px;
  height: 361px;
}
input{
  height: 20px;
  width: 20px;
  text-decoration: none;
}
span{
  color: #6d6868;
}
table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td{
  height: 50px;
  width: 50px;
  border: 1px solid;
  text-align: center;
  font-size: 2em;
}
td{
  color: slategray;
  border-color: black;
}
td:hover{
  background-color: #ddeefe;
}
#difficulty{
  margin-right: 35%;
}
#difficulty, #timer, #hints, #mistakes{
  font-size: 1.2em;
}
#difficulty-level {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  font-size: 25px;
  padding-left: 100px;
  color: blue;
}
#game{
  width: 490px;
  background-color: white;
}
#grid{
  border: 1px solid;
}
#hints{
  margin-right: 25%;
}
#selected-cell{
  background-color: #bbdefb;
}
.code-block{
  text-align: left;
}
.given-number:hover{
  background-color: lightgray;
}
.horizontal-bold{
  border-bottom: 3px solid black;
}
.label{
  color: darkblue;
  font-size: 30px;
}
.link-button{
  background-color: #7e6cfb;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
}
.link-button:visited{
  color: white;
}
.link-button:hover{
  background-color: darkblue;
}
.sample-body{
  text-align: left;
}
.user-input{
  height: 50px;
  width: 50px;
  border: none;
  text-align: center;
  font-size: 1em;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: blue;
}
.vertical-bold{
  border-right: 3px solid black;
}
