<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sudoku</title>
    <link rel="icon" href="../resources/icon.png">
    <link href="../stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <script src="../controllers/grid.js"></script>
  </head>

  <body onload="hideGrid(); hideGameOver();">
    <h1>Soduku</h1>
    <span id="local-storage"></span>
    <script type="text/javascript">displayLocalStorage();</script>
    <div id="settingsDiv">
        <label for="difficulty-level" class="label">Select your difficulty level</label><br><br>
        <select id="difficulty-level" name="difficulty-level">
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
        <br><br>
        <br><br><br>
      <a class="link-button" href="index.html" target="_self">Back</a>
      <button onclick="hideSettings(); setDifficulty(); getGameGrid(difficulty); generateGrid(); displayGrid(); window.setInterval(setTime, 1500);" id="start-game" class="link-button">Start Game!</button>
    </div>
    <div id="gameGridDiv">
      <span>Difficulty: </span><span id="difficulty"></span>
      <span id="timer">Timer:</span>
      <span class="clock">
      <label id="minutes">00</label>:<label id="seconds">00</label>
      </span>
        <script src="../models/game_state.js"></script>
      <div id="gridDiv">
      </div>
      <span id="use-hint">?  </span><span>Hints Remaining: </span><span id="hints"></span>
      <span >Mistakes: </span><span id="mistakes"></span><span>/3</span>
      <br><br><br>
      <a class="link-button" href="index.html" target="_self">Back to Home</a>
      <a class="link-button" target="_self" onclick="pauseGame();">Pause Game</a>
      <a class="link-button" href="game_grid.html" target="_self">New Game</a>
    </div>
    <br><br><br>
    <!-- PAUSE SCREEN -->
    <div id="pauseScreenDiv">
      <a class="link-button" target="_self" onclick="resumeGame();">Resume</a>
    </div>
    <!--GAME OVER DIV -->
    <div id="game-over">
      <br><br>
      <span id="win-or-lose"></span>
      <span id='end-time'></span>
      <br>
      <a class="link-button" href="game_grid.html" target="_self">New Game</a>
    </div>
    <br><br><br>
    <!-- Debugging Div -->
    <div id="debuggingDiv" style="background-color: white; font-size: 20px;">
      <span>&ltDEBUG&gt</span>
      <br><br><br>
      <span>Answer Key: </span><br>
      <span id="display-answer-key"></span>
      <br>
      <a class="link-button" target="_self" onclick="setDisplayCell();">Get Answers</a>
      <br><br><br>
    </div>
  </body>
</html>
