<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sudoku</title>
    <link rel="icon" href="../resources/icon.png">
    <link href="../stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <script src="grid.js"></script>
  </head>
  <body onload="showGrid()">
    <h2>Soduku</h2>
    <span id="difficulty">Difficulty: Easy</span><span id="timer">Timer: 1:35</span>
    <div id="gridDiv">
    </div>
    <span id="hints">Hints Remaining: 3</span><span id="mistakes">Mistakes: 2/3</span>
    <br><br><br>
    <a class="link-button" href="index.html" target="_self">Back to Home</a>
  </body>
</html>
