<!DOCTYPE html>
<html>
  <head>
    <title>Sudoku</title>
    <link rel="icon" href="../resources/icon.png">
    <link href="../stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <script src="../controllers/login.js"></script>
  </head>
  <body>
    <span id="home-title">Sudoku</span>
    <input id="username" type="text" placeholder="username">
    <input id="password" type="password" placeholder="password">
    <button id="login">Login</button>
    <button id="clear-local-storage">Clear local storage</button>
    <br>
    <span id="failed-login">Login failed. Try again later.</span>
    <script type="text/javascript">login(); clearLocalStorage();</script>
    <div>
      <img src="../resources/sudoku_puzzle.png" alt="Picture of Sudoku game grid">
      <br>
      <p>
        Sudoku is a game made up of a 9 x 9 grid. The goal of the game is to fill in numbers so that you have 1-9 horizontally, vertically, and in each 3 x 3 subsection. The game ranges in difficulty and is timed. You are provided some given numbers at the beginning of the game, the goal is to fill in the remaining numbers to complete the puzzle in record time.
      </p>
      <br>
      <a class="link-button" href="documentation.html" target="_self">Documentation</a>
      <a class="link-button" href="game_grid.html" target="_self">Play now!</a>
      <br>
    </div>
  </body>
</html>
