<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sudoku</title>
    <link rel="icon" href="../resources/icon.png">
    <link href="../stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  </head>
  <h1>Sudoku</h1>
  <br>
  <body>
    <form>
      <label for="difficulty_level" class="label">Select your difficulty level</label><br><br>
      <select id="difficulty_level" name="difficulty_level">
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
    </form>
    <br><br><br>
    <a class="link-button" href="index.html" target="_self">Back</a>
     <a class="link-button" href="game_grid.html" target="_self">Start Game!</a>
  </body>
</html>
